/* Layout
   ========================================================================== */

.container {
  max-width: $containerWidth;
  margin: 0 auto;

  @media screen and (max-width: em($containerWidth + ($containerGutter * 2))) {
    margin: 0 em($containerGutter);
	}
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

@if $gutterEnable {
  .row {
		margin-right: -$gutter;
		margin-left: -$gutter;
  }
}


/* Columns Sizes
   ========================================================================== */
[class^="col-"] {
  float: left;

  @if $gutterEnable {
		padding-right: $gutter;
		padding-left: $gutter;
	}
}

// desktop
@for $i from 1 through $gridColumns {
  .col-#{$i} {
    width: ($i / $gridColumns) * 100%;
  }
}

// tablet
@include tablet {
  @for $i from 1 through $gridColumns {
    .col-md-#{$i} {
      width: ($i / $gridColumns) * 100%;
    }
  }
}

// mobile
@include mobile {
  @for $i from 1 through $gridColumns {
    .col-sm-#{$i} {
      width: ($i / $gridColumns) * 100%;
    }
  }
}


/* Row Sizes
   ========================================================================== */
/**
 * Add row-n to row div to make pseudo-rows
 * Only for 12 cols of 1, 6 cols of 2, 4 cols of 3, 3 cols of 4, 2 cols of 6
 */

// desktop
@for $i from 2 through $gridColumns {
  @if $gridColumns % $i == 0 {
		$j: $gridColumns / $i;

		.row-#{$i} .col-#{$j}:nth-child(#{$i}n+1) {
			clear: left;
		}
	}
}

// tablet
@include tablet {
  @for $i from 2 through $gridColumns {
    @if $gridColumns % $i == 0 {
			$j: $gridColumns / $i;

			.row-md-#{$i} .col-md-#{$j}:nth-child(#{$i}n+1) {
				clear: left;
			}
		}
	}
}

// mobile
@include mobile {
  @for $i from 2 through $gridColumns {
    @if $gridColumns % $i == 0 {
			$j: $gridColumns / $i;

			.row-sm-#{$i} .col-sm-#{$j}:nth-child(#{$i}n+1) {
				clear: left;
			}
		}
	}
}


/* Icons
   ========================================================================== */
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}